<app-toolchest></app-toolchest>

<app-window title="Fresh Water Status" top="120" left="100" width="400" [windowControls]="true" [resizable]="true">
    <table *ngIf="freshWater">
        <tr>
            <td class="key">Gauge</td>
            <td>
                <div class="gauge">
                    <div class="gauge-level" [style.width.%]="freshWater.volumePercentage"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="key">Water Level</td>
            <td>{{ freshWater.volumePercentage | number:'1.0-0' }}%</td>
        </tr>
        <tr>
            <td class="key">Volume</td>
            <td>{{ freshWater.volume | number }} L</td>
        </tr>
        <tr>
            <td class="key">Capacity</td>
            <td>{{ freshWater.capacity | number }} L</td>
        </tr>
        <tr>
            <td class="key">Voltage</td>
            <td>{{ freshWater.voltage | number }} V</td>
        </tr>
        <tr>
            <td class="key">Max Voltage</td>
            <td>{{ freshWater.maxVoltage | number }} V</td>
        </tr>
        <tr>
            <td><button>Refill Tank</button></td>
        </tr>
    </table>
</app-window>


<app-window title="Waste Water Status" top="120" left="600" width="400" [windowControls]="true" [resizable]="true">
    <table *ngIf="wasteWater">
        <tr>
            <td class="key">Gauge</td>
            <td>
                <div class="gauge">
                    <div class="gauge-level" [style.width.%]="wasteWater.volumePercentage"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="key">Water Level</td>
            <td>{{ wasteWater.volumePercentage | number:'1.0-0' }}%</td>
        </tr>
        <tr>
            <td class="key">Volume</td>
            <td>{{ wasteWater.volume | number }} L</td>
        </tr>
        <tr>
            <td class="key">Capacity</td>
            <td>{{ wasteWater.capacity | number }} L</td>
        </tr>
        <tr>
            <td class="key">Voltage</td>
            <td>{{ wasteWater.voltage | number }} V</td>
        </tr>
        <tr>
            <td class="key">Max Voltage</td>
            <td>{{ wasteWater.maxVoltage | number }} V</td>
        </tr>
    </table>
</app-window>