<app-toolchest></app-toolchest>

<app-window title="Fresh Water Status" top="100" left="100" width="400" [windowControls]="true" [resizable]="true">
    <table *ngIf="freshWater">
        <tr>
            <td>Gauge</td>
            <td>
                <div class="gauge">
                    <div class="gauge-level" [style.width.%]="freshWater.volumePercentage"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Water Level</td>
            <td>{{ freshWater.volumePercentage | number:'1.0-0' }}%</td>
        </tr>
        <tr>
            <td>Volume</td>
            <td>{{ freshWater.volume }} L</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td>{{ freshWater.capacity }} L</td>
        </tr>
        <tr>
            <td>Voltage</td>
            <td>{{ freshWater.voltage }} V</td>
        </tr>
        <tr>
            <td>Max Voltage</td>
            <td>{{ freshWater.maxVoltage }} V</td>
        </tr>
        <tr>
            <td><button>Refill Tank</button></td>
        </tr>
    </table>
</app-window>


<app-window title="Waste Water Status" top="100" left="600" width="400" [windowControls]="true" [resizable]="true">
    <table *ngIf="wasteWater">
        <tr>
            <td>Gauge</td>
            <td>
                <div class="gauge">
                    <div class="gauge-level" [style.width.%]="wasteWater.volumePercentage"></div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Water Level</td>
            <td>{{ wasteWater.volumePercentage | number:'1.0-0' }}%</td>
        </tr>
        <tr>
            <td>Volume</td>
            <td>{{ wasteWater.volume }} L</td>
        </tr>
        <tr>
            <td>Capacity</td>
            <td>{{ wasteWater.capacity }} L</td>
        </tr>
        <tr>
            <td>Voltage</td>
            <td>{{ wasteWater.voltage }} V</td>
        </tr>
        <tr>
            <td>Max Voltage</td>
            <td>{{ wasteWater.maxVoltage }} V</td>
        </tr>
    </table>
</app-window>