button {
    padding: 5px;

    border-width: 3px;
    border-style: solid;

    border-image: url(/assets/button.png) 3 3 3 3 repeat repeat;

    background-color: #999999;
    color: #000000;
    

}